@model IEnumerable<AdvIdentity.Models.AdvertisementsCreateModel>

@{
    ViewBag.Title = "ByCreator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Advertisements of user: @ViewBag.Name @ViewBag.Surname</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}
</table>
