@model IEnumerable<AdvIdentity.Models.AdvertisementsCreateModel>

@{
    ViewBag.Title = "YourAds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Advertisements</h2>

<p>
    <div class="btn-group">
        <a type="button" class="btn btn-default" href="~/Advertisements/Create">Create new</a>
        <a type="button" class="btn btn-default" href="~/Manage/Index">Back to account</a>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <div class="btn-group">
                <a type="button" class="btn btn-default"href="~/Advertisements/Update?ID=@item.AdvId">Edit</a> 
                <a type="button" class="btn btn-default" href="~/Advertisements/Delete?ID=@item.AdvId">Delete</a> 
            </div>
        </td>
    </tr>
}

</table>
